*{
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(249,249,249);
}
.center_one{
	width: 1600px;
	height: 500px;
	margin: auto;
	background-image: url(../img/历程.大图.jpg);
}
.center{
	width: 1200px;
	margin: auto;
	margin-top: -190px;
	position: relative;
	background-color: white;
}
.center1{
	width: 1200px;
	height: 74px;
}
.center1_1{
	float: left;
	margin: 0 30px;
	line-height: 74px;
	font-size: 13px;
}
.center1_1 a{
	color: black;
}
.center1_1 a:hover{
	color: #FFA500;
}
.center1_2{
	width: 352px;
	height: 74px;
	float: right;
	margin-right: 50px;
}
.center1_2 li{
	line-height: 74px;
	float: left;
	font-size: 14px;
	margin-left: 30px;
}
.center1_2 li a{
	padding-bottom: 30px;
}
.center1_2 li a:nth-child(4){
	padding-bottom: 28px;
}
.center1_2 li:nth-child(4) a{
	border-bottom: 2px solid #FFA500;
}
.center1_2 li a:hover{
	border-bottom: 3px solid #FFA500;
}

.center2{
	width: 1200px;
	height: 1000px;
	margin-left: 40px;
	margin-top: 35px;
	/*padding-bottom: 100px;*/
}
.center2 p{
	font-size: 14px;
	line-height: 30px;
	margin: 25px 37px 0 37px;
}
.center2_1{
	margin-top: 30px;
	margin-left: 80px;
}
